*~
*.o
*.so
*.so.*
/src/linux/*.a
/cmd/injector
/tests/test-prog
/tests/test-prog-*
/tests/test-target
/tests/test-target-*
/tests/unit/run
/bindings/rust/target/
__pycache__/

docs/
task_plan.md
findings.md
progress.md
